<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <!-- Keep querystring and fragment on redirect -->
    <script>
      window.location = "{{ .Permalink }}" + window.location.search + window.location.hash;
    </script>
  </head>
</html>